{% extends 'main.html' %}
{% load staticfiles %}
{% block downtext %}
    <div class="container-fluid">
    <div class="row">
    <div class="col-lg-5">
    <form  enctype="multipart/form-data" role="form" class="" action="{% url 'DownloadedTexts' 1%}" method="post">
        {%  csrf_token %}
    <h3>Select the text or filter by tag:</h3><div class="col-lg-3"><input value="" class="form-control" {{ form.tg }} </div>
    <input class="btn btn-primary btn-md" role="button" type="submit" value="filter" size="100px">

    </form>
    </br>

     {% if texts %}
<div class="well homefull">
        {% for txt in texts %}

            <div class="well"> <span><small>Tags:</small></span>
                 {% for tg in txt.TAGS.all  %}
                <span><small>{{ tg.tg }}</small></span>
            {% endfor %}
                <h4><small>Title: </small><a href="{% url "maps" txt.id 1 %}">{{ txt.Data_title }}</a> </h4>

            </div>

        {% endfor %}
</div>
    {% else %}
      <div class="col-lg-5 alert alert-info">
    No matches found
      </div>

    {% endif %}
    </div>
    </div>
    <!--блок, отвечающий за пагинацию--->

        <div class="col-lg-6">
            <div class="row">
            <ul class="pagination">
                {% if texts.has_previous %}
                    <li class="arrow"><a href="//{{ texts.previous_page_number }}/">&laquo;</a> </li>
                {% else %}
                    <li class="disabled"><a href="">&laquo;</a> </li>
                {% endif %}
                {% for page in texts.paginator.page_range %}
                    {% if page == texts.number %}
                        <li class="active"><a href="/downloadedtexts/{{ page }}/">{{ page }}</a></li>
                    {% else %}
                        <li><a href="/downloadedtexts/{{ page }}/">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if texts.has_next %}
                    <li class="arrow"><a href="/downloadedtexts/{{ texts.next_page_number }}/">&raquo;</a></li>
                {% else %}
                     <li class="disabled"><a href="">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    </div>
</div>
      <style>
                .well.homefull{
                    background: rgba(0, 0, 0, 0.4);
                }
                #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}</style>
{%  endblock %}