{% extends 'main.html' %}

{% block downtext %}
    <div class="container-fluid">
    <div class="row">
    <div class="col-lg-5">
    <h3>Select the text</h3>
<div class="well homefull">
        {% for txt in texts %}
            <h5><small>Tags:</small></h5>
            <div class="well"> <h4><a href="{% url "maps" txt.id 1 %}">{{ txt.Data_title }}</a> </h4></div>

        {% endfor %}
</div>
    </div>
    </div>
    <!--блок, отвечающий за пагинацию--->

        <div class="col-lg-6">
            <div class="row">
            <ul class="pagination">
                {% if texts.has_previous %}
                    <li class="arrow"><a href="//{{ texts.previous_page_number }}/">&laquo;</a> </li>
                {% else %}
                    <li class="arrow unavailable"><a href="">&laquo;</a> </li>
                {% endif %}
                {% for page in texts.paginator.page_range %}
                    {% if page == texts.number %}
                        <li class="current"><a href="/DownloadedTexts/{{ page }}/">{{ page }}</a></li>
                    {% else %}
                        <li><a href="/DownloadedTexts/{{ page }}/">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if texts.has_next %}
                    <li class="arrow"><a href="/DownloadedTexts/{{ texts.next_page_number }}/">&raquo;</a></li>
                {% else %}
                     <li class="arrow unavailable"><a href="">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    </div>
</div>
      <style>
                .well.homefull{
                    background: rgba(0, 0, 0, 0.4);
                }
                #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}</style>
{%  endblock %}